# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Logs/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
.userprefs
/.csproj
*.pidb
.suo
/.sln
*.user
*.unityproj
.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DSStore?
.
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.apk
MyTest.txt

#not ignore - meshes 
!Assets/Meshes/.obj
FB_user_id.txt
.vs/
Output
.gitmodules
gitmodules
.vscode

# Ignore AseetBundles as it is a temp dir
AssetBundles
.idea/
*.log

Toobin/Assets/Scripts/Sound.cs
Toobin/Assets/Scripts/AudioManager.cs
Toobin/Assets/Scenes/Main.unity
Toobin/Assets/Audio/Toobin_Theme.wav.meta
Toobin/Assets/Audio/Toobin_Theme.wav
Toobin/Assets/Scenes/Main.unity
Toobin/Assets/Scripts/AudioManager.cs
Toobin/Assets/Scripts/Sound.cs
Toobin/Assets/Scenes/Main.unity
Toobin/Assets/Scripts/AudioManager.cs
Toobin/Assets/Scripts/Sound.cs
Toobin/Assets/Scenes/Main.unity
